IgnoredFolder linguist-generated=true
IgnoredFolder/** linguist-generated=true
IgnoredFolder/**/* linguist-generated=true
/IgnoredFolder linguist-generated=true
/IgnoredFolder/** linguist-generated=true
/IgnoredFolder/**/* linguist-generated=true