IgnoredFolder linguist-generated=false
IgnoredFolder/** linguist-generated=false
IgnoredFolder/**/* linguist-generated=false
/IgnoredFolder linguist-generated=false
/IgnoredFolder/** linguist-generated=false
/IgnoredFolder/**/* linguist-generated=false
